block content

    if(errors)
        h2.errors Oooops an error has occured, one or more of your fields is invalid!
        ul.errors
            each error in errors
                li
                    =error.message 



            //-  if error.length > 1
            //-     each e in error
            //-         li #{e.message}, #{e.parent}
            //- else 
            //-     li #{error.message}, #{error.parent}

    




